.idea
.attach_pid*
*.iml
*.ipr
*.iws
/**/build/
/.gradle/
/build/
/lib/
/*/out
out
/.project
.settings/
workbench.xmi
/build-eclipse/
/cache
/logs
.idea
debian/.debhelper/
debian/targeting-file-management*
debian/files
debian/user-data-aggregation*
conf-*
/target
